body {
    background-color: #061641;
}

.box {


    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
    /* Add padding for spacing */
}

/* Set the height of the entire page to 100% */
html,
body {
    height: 100%;
    margin: 0;
}

/* Top box with 20% height and full width */
.chapterOneBox {

    background: linear-gradient(to bottom, #ebf1f6 0%, #abd3ee 50%, #859ee2 51%, #d5ebfb 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebf1f6', endColorstr='#d5ebfb', GradientType=0);
    /* IE6-9 */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5em;
    transition: font-size 1s;
    text-transform: uppercase;
    left: 22%;


}

/* Bottom box with 10% height and full width */
.bottomBox {
    width: 100%;
    height: 10%;
}

/* Container for the middle boxes */
.middleContainer {
    width: 100%;
    height: 70%;
    /* Takes up the remaining height */
    display: flex;
}

/* Left column with 15% width and full height of middle container */
.midLeftCol {
    width: 15%;
    height: 100%;
}

/* Center column with 70% width and full height of middle container */
.centreCentreBox {
    background-image: url(/img/tunnels/tunnel1.png);
    /* background-image: url(/img/walkingBiden1-transformed.png); */

    width: 70%;
    height: 100%;
    background-size: cover;
}

/* Right column with 15% width and full height of middle container */
.midRightCol {
    width: 15%;
    height: 100%;
}

.threeOptions h3 {
    text-align: center;

}

.optionButtons {
    padding: 5%;
    border-radius: 10px;
    font-weight: bold;
}

.optionButtons:hover {
    background-color: rgb(74, 209, 74);
    color: rgb(105, 10, 0);
}

.leftScoreSide h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    border: 4px solid white;
    border-radius: 10px;
    padding: 20px
}

#scoreKeeper {
    display: flex;
    justify-content: center;
    color: white;
    font-size: xx-large;
}


.speechBubble {
    top: -150px;
    left: 100px;
    width: 360px;
    height: 200px;
    background: white;
    position: relative;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    color: black;
}

.speechBubble:before {
    content: '';
    position: absolute;
    right: 100%;
    top: 36px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 36px solid white;
}

.textInSpeechBubble {
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}